* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	background-color: #f4f4f4;
}
.destaque {
    color: #f0a500; /* Cor amarela */
}

.destaque {
    color: #f0a500; /* Cor amarela */
}

.classe-roxa {
    color: #9f19ff; /* Cor roxa */
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #000000;
	color: white;
	padding: 30px 0;
}

header h1 {
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 20px;
}

header nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

header nav ul li {
	margin: 0 15px;
}

header nav ul li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
}

header nav ul li a:hover {
	color: #f0a500;
}
.main-content {
    background-color: #050505; 
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #fff; 
}

.main-content h2 {
    text-align: center;
    color: #ffffff; 
    font-size: 2.5em;
    margin-bottom: 20px;
}


.main-content p {
	text-align: center;
	font-size: 1.2em;
	color: #ffffff;
}

.sobre {
	background-color: #000000;
	padding: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
}

.sobre h2 {
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 20px;
	color: ;
}

.sobre p {
	text-align: center;
	font-size: 1.2em;
	color: #dddddd;
}

.projetos {
	background-color: #2a1035;
	padding: 50px 0;
}

.projetos h2 {
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 20px;
   color: #f0a500; 
	
	
}

.projetos-container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}

.projeto {
	flex: 1 1 calc(33.333% - 20px);
	background-color: #f4f4f4;
	padding: 20px;
	text-align: center;
	box-shadow: 0 0 10px rgba(255, 19, 19, 0.1);
	border-radius: 10px;
}

.projeto img {
	max-width: 100%;
	border-radius: 8px;
}

.projeto h3 {
	font-size: 1.8em;
	margin: 15px 0;
}

.projeto p {
	font-size: 1.1em;
	color: #555;
}
.projetos img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); 
    transition: all 0.3s ease;
}

.projetos img:hover {
    box-shadow: 0 0 25px rgb(0, 0, 0); 
}


footer {
	background-color: #230234;
	color: white;
	padding: 30px 0;
	text-align: center;
	margin-top: 30px;
}

footer p {
	margin: 0;
	font-size: 1.1em;
}

@media (max-width: 768px) {
	.projetos-container {
		flex-direction: column;
		align-items: center;
	}
	.projeto {
		flex: 1 1 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
}
